<%= form_for @conn, @action, [as: "upload",multipart: true], fn f -> %>
  <div class="form-group">
    <%= label f, :csv_file, class: "control-label" %>
    <%= file_input f, :file %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %> 
