<%= form_for @conn, @action, [as: "upload",multipart: true], fn f -> %>
  <div class="form-group">
    <%= label f, :csv_file, class: "control-label" %>
    <%= file_input f, :file %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %><br /><br />
    <p>You can download this mock csv file to test csv importing:</p>
    <a href="<%= Routes.static_path(@conn, "/data/MOCK_DATA.csv") %>">Mock CSV File
  </div>
<% end %> 
